$align: left;
$bg-color: #ddd;
$color-01: rgb(222, 222, 209);
$color-02: #999;
$color-03: rgb(238, 8, 43);
$color-04: #222;
$color-default: #444;
$font-big: 3rem; 
$font-family-default: Arial, Helvetica, sans-serif;
$font-medium: 2.6rem;
$font-normal: 2.2rem;
$font-small: 1.8rem;
$mb: 2.0rem;
$mt: 1.8rem;
$mt-02: 3rem;
$space-default: 2.0rem;